<div class="container">
  <h1 class="text-capitalize font-weight-bold my-4">pepole list</h1>
  <p>Name</p>
  <input type="text" placeholder="name"   />
  <p>User Name</p>
  <input type="text" placeholder="username" />
  <p>Phone</p>
  <input type="number" placeholder="phone" />
<br>

<button type="button" class="btn btn-primary my-3" (click)="addCustomer()">Add</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Phone</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cs of customers">
      <td>1</td>
      <td>{{cs.name}}</td>
      <td>{{cs.username}}</td>
      <td>{{cs.phone}}</td>

    </tr>
    </tbody>
</table>
</div>
